//? Container Variables 

$container_width : 50%;
$container_height : 400px;
$container_margin : 100px auto;
$container_background_color: beige ;
$container_border_size : 10px;
$container_border_type : solid;
$container_border_color : rgb(213, 213, 39);

//? Icon and its container variables

$Icon-size : 150px;
$Icon_Container_padding : 8% 40%;